<b><%- __('We have updated our terms and conditions to be more clear and highlight our use of data in line with the new EU GDPR regulations.') %></b>
<br>
<h2><%- __('Key Points') %></h2>

<%- __('Here are some key points from the policy, but please read the full document:') %>
<br>
<br>
<ul>
<li><%- __('Our Story is a public service and anything you post (based on the privacy settings set by the shoot organiser) could be available instantly to anyone around the world.') %></li>
<li><%- __('Our Story has been developed at Open Lab, Newcastle University as a research project. Any information we collect from you will be stored securely in the **EU** and may be subject to processing for academic research purposes. We often publish findings based on user activity, these publications will never contain information or data that could be used to identify you as an individual.') %></li>
<li><%- __('When you use Our Story, even if you are just browsing through the content, we receive some personal information about you like your IP address and the type of device you are using. When you sign up you may be asked for additional information such as your email address, name and a public profile which we use to keep your account secure and improve the experience for yourself and other users.') %></li>
<li><%- __('If you have any questions about this policy, how we collect or process your personal data or anything else related to our privacy practices, you can contact us at any time.') %></li>
<li><%- __('Our Story may share personal data with businesses outside of the EU to provide a service. Our Story is hosted on Digital Ocean servers https://www.digitalocean.com/security/gdpr/data-processing-agreement/, uses AWS https://aws.amazon.com/compliance/data-privacy-faq/ for storing data securely and SendGrid https://sendgrid.com/policies/privacy/services-privacy-policy/ to distribute emails.') %></li>
<li><%- __('Our Story complies with GDPR and any external services that are not based in the EU comply with the EU-US Privacy Shield Frameworks as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of personal data from the EU and Switzerland. For more information about the Privacy Shield generally, and to view the certificates online, please visit https://www.privacyshield.gov.') %></li>
</ul>

<%- __('To continue using Our Story, please review <a href="/privacy">our privacy policy</a> and accept below to continue.') %>
<br><br>
<a href="/acceptconsent" class="btn btn-primary"><%- __('Accept and Continue') %></a>