<div class="text-center">
<% if (!shoot) {%>
<h1><%- __('Sorry, the shoot you are trying to join is not available.') %></h1>
<%} else {%>

  <% if (me.status == 'sent') { %>

<h1><%- __('Hello. You have been asked to take part in the filming of <br><span class="text-muted">%s</span>.', shoot.name) %></h1>
<br>
<%- __('If you want to go ahead, just login using one of the following options:') %>
<br>

    <a href="/auth/google">
        <img style="width:80%" src="/images/google-oauth.png" />
    </a>
    <a href="/auth/facebook">
        <img style="width:80%" src="/images/facebook-oauth.png" />
    </a>
<% } %>

<% if (me.status == 'linked') { %>
<%- __('You have all ready used this code and are part of the production team.') %>
<% } %>

<% if (me.status != 'linked' && me.status != 'sent') { %>
<%- __('This code is no longer valid.') %>
<% } %>


<% } %>
</div>
