<h1><span style="color:silver">Field Transcription for</span> <%- edit.title %></h1>
<% if (!req.session.name) { %>
<p class="text-center">
    Please enter your name before performing transcription.
</p>
    <h2>
        <form method="POST" action="">
        <div class="input-group" style="max-width:500px;margin:auto auto">
          <input placeholder="<%- __('my name') %>" class="form-control input-lg"  name="name" />
          <span class="input-group-btn">
          <input type="submit" class="btn btn-primary btn-lg" value="<%- __('Perform Transcription') %>" />
          </span>
        </div>
        </form>
      </h2>
<% } else { %>

<h2>Hello <%- req.session.name %>
    <form action="" method="POST">
        <input type="hidden" name="name" value="" />
        <input type="submit" class="btn btn-link" value="<%- __('This is not Me!') %>" />
    </form>

</h2>

<p>
    There are 3 stages to transcription, select which stage you are performing:
</p>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">1. Chunking <%- progress.stage1 %>&percnt;</div>
            <div class="panel-body">
                <p>
                    We need to know when people are talking in the story, so that we can transcribe them.
                </p>
                <% if (progress.stage2 > 0) { %>
                    Stage 2 already started
                    <% } else { %>
                <a href="/transcribe/s1/<%- id %>?apikey=<%- apikey %>" class="btn btn-lg btn-primary">Perform
                    Chunking</a>
                    <% } %>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">2. Transcription <%- progress.stage2 %>&percnt;</div>
            <div class="panel-body">
                <p>
                    Writing down exactly what is said in each chunk of the story.
                </p>
                <% if (progress.stage1 != 100) { %>
                    Stage 1 not completed
                    <% } else { %>
                <a href="/transcribe/s2/<%- id %>?apikey=<%- apikey %>" class="btn btn-lg btn-primary">Perform
                    Transcribe</a>
                    <% } %>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">3. Review <%- progress.stage3 %>&percnt;</div>
            <div class="panel-body">
                <p>
                    Reviewing content is key to making sure we represent participants authentically.
                </p>
                <% if (progress.stage1 != 100) { %>
                    Stage 1 not completed
                    <% } else { %>
                <a href="/transcribe/s3/<%- id %>?apikey=<%- apikey %>" class="btn btn-lg btn-primary">Perform
                    Review</a>
                    <% } %>
            </div>
        </div>
    </div>

</div>

<% } %>