<form action="POST">

    <div class="form-group">
        <div class="row">
          <label for="inputEmail2" class="col-sm-4 control-label">
            <%- __('Your Name') %></label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input name="starts" style="margin:0" class="form-control input-lg" size="16" type="text" required>
            </div>
          </div>
        </div>
      </div>


    <!-- <input placeholder="" name="name" style="margin:0" class="form-control input-lg" size="16" type="text" required /> -->


    <p>
        There are 3 stages to transcription, select which stage you are performing:
    </p>

    <div class="row">
        <div class="col-sm-4">
            <div style="min-height: 400px;" class="panel panel-default">
                <div class="panel-heading">1. Chunking</div>
                <div class="panel-body">
                  <p>
                      We need to know when people are talking in the story, so that we can transcribe them.
                    </p>
                  <a href="/transcribe/s1/<%- id %>?apikey=<%- apikey %>" class="btn btn-lg btn-primary">Perform Chunking</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div style="min-height: 400px;" class="panel panel-default">
                <div class="panel-heading">2. Transcription</div>
                <div class="panel-body">
                    <p>
                        Writing down exactly what is said in each chunk of the story.
                      </p>
                    <a href="/transcribe/s2/<%- id %>?apikey=<%- apikey %>" class="btn btn-lg btn-primary">Perform Transcribe</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div style="min-height: 400px;position:relative;" class="panel panel-default">
                <div class="panel-heading">3. Review</div>
                <div class="panel-body">
                    <p>
                        Reviewing content is key to making sure we represent participants authentically.    
                    </p>
                    <div style="position: absolute;bottom:0;height:60px;">
                        <div class
                        <a href="/transcribe/s3/<%- id %>?apikey=<%- apikey %>" class="btn btn-lg btn-primary">Perform Review</a>
                    </div>
                </div>
              </div>
        </div>

    </div>

</form>