<div ng-app="exportApp" ng-controller="export" ng-cloak>

	<div class="progress" style="height:2px;width:100%;position:fixed;top:0;left:0;" ng-show="loading < 3">
		<div class="indeterminate"></div>
	</div>
	<% if (sails.config.LOCALONLY) { %>
		<br><br>
	<div class="alert alert-info col-sm-8 col-sm-offset-2">
		<%- __('Completed Stories can be downloaded using the <i class="fa fa-ellipsis-v text-primary"></i> button on the <a href="/watch/edits/%s">Stories</a> page.<br>To view all original videos captured, visit the folder on your computer where Our Story Titan is installed.',event.id) %>
	</div>
	<% } %>

	<div class="col-sm-8 col-sm-offset-2">
		<div class="row">
			<div class="col-xs-3">
				<div style="text-align:center;">
					<h2 id="ok" class="text-primary">{{nums.ok}}
						<br>
						<small>
							<%- __('clips available') %></small>
					</h2>
				</div>
			</div>

			<div class="col-xs-3">
				<div style="text-align:center;">
					<h2 id="fail" class="text-primary">{{nums.missing}}
						<br>
						<small>
							<%- __('not uploaded') %></small>
					</h2>
					<p id="missingfrom"></p>
				</div>
			</div>

			<div class="col-xs-3">
				<div style="text-align:center;">
					<h2 id="crew" class="text-primary">{{nums.crew}}
						<br>
						<small>
							<%- __('contributors') %></small>
					</h2>

				</div>
			</div>

			<div class="col-xs-3">
				<div style="text-align:center;">
					<h2 id="mins" class="text-primary">{{nums.mins + "'"}}
						<br>
						<small>{{(nums.filesize / 1024 / 1024) | number:0}}GB</small>
					</h2>
				</div>
			</div>
		</div>

		<!-- {{nums.missingfrom}} -->



	</div>
	<div class="clearfix"></div>

	<div class="alert alert-danger" ng-show="nums.missingfrom.length>0" style="margin-top:20px;">
		<!-- <div class="col-xs-12 text-muted text-center"> -->
		<h4 style="border-bottom:1px solid rgba(0,0,0,0.05);margin-left: -0.5em;margin-right: -0.5em;padding: 0.5em;margin-top: -0.5em;margin-bottom: 0.5em;"><%- __('Missing Videos') %> </h4>
		<div>
			<!-- {{nums.missingfrom}} -->
			<label class="mycheckbox" ng-repeat="user in nums.missingfrom">
				<span class="content">
					<img ng-src="{{user.photo}}" /> {{user.name}} <strong>{{user.clips}} &nbsp;&nbsp;</strong>
				</span>
			</label>

			<span ng-show="nums.missingfrom.length==0">
				<%- __('Nobody!') %></span>
		</div>

		<% if (!sails.config.LOCALONLY) { %>
		<a class="btn btn-sm btn-danger pull-right" href="/post/remind/<%- event.id %>?apikey=<%- apikey %>">
			<i class="fa fa-clock-o"></i>
			<%- __('Send a Reminder to Upload') %>
		</a>
		<% }%>
		<div class="clearfix"></div>
	</div>



	<% if (!sails.config.LOCALONLY) { %>

	<div class="alert alert-info col-sm-8 col-sm-offset-2 text-center" style="position: relative;margin-top:2em;">
		<!-- Split button -->
		
		<p style="margin-bottom: 1em;">
			<%- __('View and Download the Meta-Data associated with this shoot') %>
			
		</p>
		<div class="btn-group">
			<a type="button" href="/post/document/<%-event.id %>?apikey=<%-apikey %>" class=" btn btn-primary"
			 tooltip-popup-delay="300" tooltip-append-to-body="true" tooltip="<%- __('Makes a document with thumbnails of each shot and its metadata') %>">
				<i class="glyphicon glyphicon-th-list"></i>
				<%- __('View Shot List') %></a>

			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>

			<ul class="dropdown-menu" role="menu">
				<!-- <li>
						<a ng-click="getedl();">
							<i class="fa fa-download"></i> Download EDL (FCP XML)</a>
						</li> -->
				<li>
					<a href="/post/document/<%-event.id %>?apikey=<%- apikey %>">HTML</a>
				</li>
				<li>
					<a href="/media/nicejson/<%-event.id %>?apikey=<%- apikey %>">JSON</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>

	</div>
	<div class="clearfix"></div>

	<div class="text-center" ng-hide="exportopen">
		<h1>
			<%- __('Export Videos') %>
		</h1>

		<p class="lead">
			<%- __('Download individual videos using the <i class="fa fa-download"></i> button on the <a href="/shoot/%s">Videos</a> page.',event.id) %>
		</p>
		<div class="strike">
			<span>
				<%- __('OR') %></span>
		</div>
		<p style="margin-top:20px;" class="lead">
			<%- __('Download your videos in one go to a <a href="#" ng-click="exportopen=true">chosen destination</a>') %>
		</p>
	</div>

	<div ng-if="exportopen">
		<div class="page-header">
			<h2 >
				<%- __('1. Select Output Structure') %>
			</h2>
			<p>
				<%- __('Export all your footage for editing') %>
			</p>
		</div>


		<!-- <p tooltip-popup-delay="300" tooltip="Organises your footage according to your choice of categories">You can download the footage and meta-data to start editing.
			<i style="color:silver" class="fa fa-question-circle"></i>
			<br>
		</p> -->

		<div>
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-success" ng-show="success">
						<%- __('Output Profiles Updated!') %>
					</div>
				</div>
				<!-- <div class="col-xs-12 text-muted">Our Story will export your media according to the following directory structure:
					<br>
					<br>
				</div> -->
			</div>
			<div class="clear-fix"></div>
			<div class="row">
				<div class="col-sm-4">
					<div class="list-group inlay">
						<div class="list-group-item active">
							<%- __('My Output Templates') %> <button ng-click="addoutput()" class="btn btn-link pull-right" style="color:white;padding:0;margin-right: -8px;margin-top: -4px;">
								<i class="fa fa-plus fa-2x"></i>
							</button></div>
						<!-- <div class="list-group-item text-muted" style="padding:5px;">
							
							<small>Your library of output directory structures.</small>
						</div> -->
						<div style="min-height:250px;max-height:250px;overflow-y:auto">
							<div style="cursor:pointer;" ng-class="{'selected':(editing.current==output)}" ng-click="edit(output)" ng-repeat="output in mytemplates"
							 class="list-group-item">
								<div class="pull-left" style="width:90%;">
									<input type="text" ng-model="output.title" class="form-control" ng-show="output.editing" />
									<span ng-hide="output.editing">{{output.title}}</span>
								</div>
								<div style="float:right;width:5%;">
									<button style="padding:2px" class="btn btn-link" ng-click="remove(output)">
										<i class="fa fa-times"></i>
									</button>
									<button style="padding:2px" class="btn btn-link" ng-click="output.editing=!output.editing">
										<i class="fa" ng-class="{'fa-edit':!output.editing,'fa-save':output.editing}"></i>
									</button>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="list-group inlay">
						<a href="#" class="list-group-item active">
							<%- __('Available Directories') %></a>

						<div style="min-height:250px;max-height:250px;overflow-y:auto" class="dir-container" ng-model="outputs"
						 ui-sortable="{ connectWith: '.dir-container' }">
							<div ng-repeat="output in outputs" style="cursor:move;" class="list-group-item">{{output.title}}</div>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="list-group inlay">
						<a href="#" class="list-group-item active">
							<%- __('Example Download Structure') %></a>

						<div style="min-height:250px;max-height:250px;overflow-y:auto" ng-model="editing.current.outputs" class="dir-container"
						 ui-sortable="{ connectWith: '.dir-container' }">
							<div ng-repeat="output in editing.current.outputs" style="cursor:move;" class="list-group-item">
								<div ng-style="{'padding-left':($index*15)}">{{output.title}}
									<small ng-repeat="o in output.examples | limitTo:1">
										<span class="text-muted">
											<%- __('e.g.') %> {{o}}</span>
									</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>

				<div class="hidden-xs">
					<button type="button" class="btn btn-lg btn-success pull-right" ng-click="save()">
						<i class="fa fa-save"></i>
						<%- __('Save Templates') %></button>
				</div>

				<div class="hidden-md hidden-sm hidden-lg">
					<button type="button" class="btn btn-lg btn-success" style="width:100%;" ng-click="save()">
						<i class="fa fa-save"></i>
						<%- __('Save Templates') %></button>
				</div>

			</div>
		</div>


		<div class="page-header">
			<h2>
				<%- __('2. Select Destination') %>
			</h2>
			<p>
				<%- __('Choose where and how to Sync Your files') %>
			</p>
		</div>

		<% if (!sails.config.LOCALONLY) { %>
		<tabset>

			<tab tooltip-popup-delay="300" tooltip="Links Our Story to your own dropbox account for downloading footage" heading="Dropbox"
			 is-open="true">
				<div class="row text-center text-muted">
					<div class="col-sm-4">
						<span class="fa-stack fa-5x">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-dropbox fa-stack-1x"></i>
						</span>
						<br>
						<% if (!user.dropbox) { %>
						<a class="btn btn-link" href="/auth/dropbox/<%-event.id%>">
							<%- __('Login to Dropbox') %></a>
						<% } else { %>
						<span>
							<%- __('Logged In') %></span>
						<% } %>
					</div>
					<div class="col-sm-4">
						<span class="fa-stack fa-5x">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-play fa-stack-1x"></i>
						</span>
						<div ng-show="false">
							<input type="text" class="datepicker input-sm" name="from" id="from" data-date-format="dd-mm-yy" />
							<div>to</div>
							<input type="text" class="datepicker input-sm" name="to" id="to" data-date-format="dd-mm-yy" />
						</div>
						<% if (user.dropbox) { %>
						<br>
						<label>
							<input type="checkbox" ng-model="options.homog" value="1">
							<%- __('Transcode Output') %></label>
						<a ng-click="doit()" id="transbtn" class="btn btn-link btn-success" ng-show="downloadprogress.stopped || downloadprogress.dropboxsynccancel">
							<%- __('Start Copy to Dropbox') %></a>
						<br>
						<a ng-click="cancel();" id="cancelbtn" class="btn btn-link btn-danger" ng-hide="downloadprogress.stopped || downloadprogress.dropboxsynccancel">
							<%- __('Stop and Reset Copy') %></a>
						<%}%>
					</div>
					<div class="col-sm-4" style="padding-top:5px;margin-bottom:20px;">

						<knob knob-options="{readOnly :true,width:120,height:120}" knob-data="downloadprogress.percentage"></knob>

						<div class="progresstext text-muted">{{downloadprogress.msg}}</div>
					</div>


				</div>
				<div class="alert alert-info">
					<p>
						<%- __('You do not need to stay on this page. We will send an email to <span class="text-muted">%s</span> when the copy is finished.',user.profile.emails[0].value) %>
					</p>
				</div>
			</tab>

			<tab tooltip-popup-delay="300" tooltip="Downloads footage directly to your computer or mobile device" heading=" <%- __('Native Sync Client') %>">
				<div class="row text-center text-muted">


					<div class="col-sm-4 col-sm-offset-2">
						<span class="fa-stack fa-5x">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-download fa-stack-1x"></i>
						</span>
						<p>
							<a href="https://guide.ourstory.video/sync">
								<%- __('Install Local Client') %></a>
						</p>
					</div>
					<div class="col-sm-4">
						<span class="fa-stack fa-5x" ng-class="{'text-success':clientconnected,'text-danger':clientfailed}">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-refresh fa-stack-1x"></i>
						</span><br>
						<button ng-click="localconnect()" class="btn btn-lg btn-primary">
							<i class="glyphicon glyphicon glyphicon-download-alt"></i>
							<%- __('Connect and Sync') %>
						</button>
					</div>
				</div>
			</tab>
		</tabset>
		<% } %>

		<% } %>

	</div>

	<script>
		$(function () {
			$(".dial").knob();
		});

		var sessionkey = "<%-sessionkey%>";
	</script>