<style>
  .fa-spin-2x {
-webkit-animation: fa-spin 1s infinite linear;
animation: fa-spin 0.3s infinite linear;
}
  </style>

<div ng-app="watchApp" ng-controller="list" ng-cloak="">


  <div class="progress" style="position:fixed;top:0;width:100%;left:0;height:2px;margin:0;" ng-show="loading">
      <div class="indeterminate"></div>
  </div>


<div class="page-header">
  <h1><%- __('My Published Stories') %></h1>
</div>

<div class="row">

        <p class="text-muted text-center" ng-show="edits.length==0">
                <img src="/images/packing.svg" style="width:200px;" />
                <br> <%- __('You have not published any stories yet...') %></p>

            <div class="col-xs-6 col-md-4" ng-repeat="edit in edits | orderBy:'createdAt':true">
                    <div style="padding:2px;position:relative;">
                        <div style="background:#f8f8f8;">
                            <a style="padding-bottom:56.25%;overflow:hidden;width:100%;display:block;position:relative;" ng-href="{{ (!edit.path && !edit.failed) ? '#' : '/v/'+edit.shortlink }}">
                                <img style="width:100%;position: absolute;top:0;left:0;" ng-src="<%- sails.config.master_url %>/media/thumbnail/{{getMediaThumb(edit.media)}}"
                                />
    
                                <div ng-if="edit.path && !edit.failed" style="position:absolute;left:5px;top:5px;" class="addthis_toolbox" addthis:url="<%- sails.config.master_url %>/v/{{edit.code}}"
                                    addthis:title="{{edit.title}}">
                                    <a class="addthis_button_preferred_1"></a>
                                    <a class="addthis_button_preferred_2"></a>
                                    <a class="addthis_button_preferred_3"></a>
                                    <a class="addthis_button_preferred_4"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <div style="position:absolute;top:4px;right:4px;" ng-if="edit.path && !edit.failed">
                                    <a ng-href="{{ '/watch/getvideofull/' + edit.id + '?apikey=<%- apikey %>'}}">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </div>
                            </a>
    
                            <div style="padding-left:1em;padding-right:1em;padding-bottom:0.5em;padding-top:1em;">
                                <h3 style="margin:0;height:1.2em;text-overflow: ellipsis;white-space: nowrap;overflow:hidden;text-align: left;">{{edit.title}}</h3>
                                <p class="text-left">{{edit.createdAt | date:'ha d MMM yy'}}</p>
                                <p class="text-left">
                                    <img style="width:24px;height:auto;border-radius: 50%;" ng-src="{{edit.user.photo}}" /> {{edit.user.name}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
<div class="clearfix"></div>
</div>
