<style>
  .fa-spin-2x {
-webkit-animation: fa-spin 1s infinite linear;
animation: fa-spin 0.3s infinite linear;
}
  </style>

<div ng-app="watchApp" ng-controller="list" ng-cloak="">


  <div class="progress" style="position:fixed;top:0;width:100%;left:0;height:2px;margin:0;" ng-show="loading">
      <div class="indeterminate"></div>
  </div>


<div class="page-header">
  <h1>My Published Stories</h1>
</div>

<div class="row">

        <p class="text-muted text-center" ng-show="edits.length==0">
                <img src="/images/packing.svg" style="width:200px;" />
                <br> You have not published any stories yet...</p>
    <!-- <div style="display:inline-block;" ng-repeat="edit in edits | orderBy:'createdAt':true"> -->

            <div class="col-xs-6 col-md-4" ng-repeat="edit in edits | orderBy:'createdAt':true">
                    <div style="padding:2px;position:relative;">
                        <div style="background:#f8f8f8;">
                            <a style="padding-bottom:56.25%;overflow:hidden;width:100%;display:block;position:relative;" ng-href="{{ (!edit.path && !edit.failed) ? '#' : '/v/'+edit.shortlink }}">
                                <img style="width:100%;position: absolute;top:0;left:0;" ng-src="<%- sails.config.master_url %>/media/thumbnail/{{getMediaThumb(edit.media)}}"
                                />
    
                                <div ng-if="edit.path && !edit.failed" style="position:absolute;left:5px;top:5px;" class="addthis_toolbox" addthis:url="<%- sails.config.master_url %>/v/{{edit.code}}"
                                    addthis:title="{{edit.title}}">
                                    <a class="addthis_button_preferred_1"></a>
                                    <a class="addthis_button_preferred_2"></a>
                                    <a class="addthis_button_preferred_3"></a>
                                    <a class="addthis_button_preferred_4"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <div style="position:absolute;top:4px;right:4px;" ng-if="edit.path && !edit.failed">
                                    <a ng-href="{{ '/watch/getvideofull/' + edit.id + '?apikey=<%- apikey %>'}}">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </div>
                            </a>
    
                            <div style="padding-left:1em;padding-right:1em;padding-bottom:0.5em;padding-top:1em;">
                                <h3 style="margin:0;height:1.2em;text-overflow: ellipsis;white-space: nowrap;overflow:hidden;text-align: left;">{{edit.title}}</h3>
                                <p class="text-left">{{edit.createdAt | date:'ha d MMM yy'}}</p>
                                <p class="text-left">
                                    <img style="width:24px;height:auto;border-radius: 50%;" ng-src="{{edit.user.photo}}" /> {{edit.user.name}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

        <!-- <div class="panel panel-default" style="margin-bottom:10px;position:relative;width:270px;min-height:250px;overflow:hidden;display:inline-block;margin-right:10px;">
            <a ng-href="{{ (!edit.path && !edit.failed) ? '/watch/view/' + edit.media[0].event_id + '/' + edit.id : '/v/'+edit.shortlink }}">
                <img ng-src="<%- sails.config.master_url %>/media/thumbnail/{{edit.media[0].id}}" style="width:100%;height:150px;"/>
                <progressbar style="position:absolute;top:0;width:100%;height:8px;" class="determinate" max="100" value="edit.progress" type="info" ng-show="(edit.progress && !edit.failed && !edit.path)"></progressbar>
                <span ng-show="edit.failed" class="text-danger">{{edit.failreason}}</span>
                <span style="position:absolute;top:0;left:0px;width:100%;height:100%;" ng-show="edit.failed"><i class="fa fa-exclamation-triangle fa-3x" style="color:silver;padding-top:20%;"></i></span>
                <span style="position:absolute;top:0;left:0px;width:100%;height:100%;" ng-show="!edit.path && !edit.failed"><i class="fa fa-clock-o fa-3x" style="color:silver;padding-top:20%;"></i></span>
                
                <div ng-if="edit.path && !edit.failed" style="position:absolute;left:5px;top:5px;" class="addthis_toolbox" addthis:url="<%- sails.config.master_url %>/v/{{edit.code}}" addthis:title="{{edit.title}}">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
            </a>
            
            <button class="btn btn-link" ng-click="restartedit(edit.id,$event)" ng-show="edit.failed" style="position:absolute;right:0;top:0"><i class="fa fa-refresh"></i></button>
            <h3 style="padding-left:1em;padding-right:1em;height:1.1em;text-overflow: ellipsis;white-space: nowrap;overflow:hidden;">{{edit.title}}</h3>
            <strong>{{edit.createdAt | date:'ha d MMM yy'}}</strong>
            <p style="margin-top:10px;text-overflow: ellipsis;word-wrap: break-word;overflow: hidden;max-height: 3.2em;line-height: 1.6em;min-height:3.2em">{{edit.description}}</p>
        </div> -->

    </div>
</div>
<div class="clearfix"></div>

<!-- <div class="page-header">
  <h1>My Videos<br><small>Review or Create an Edit by selecting a shoot you are participated in...</small></h1>
</div> -->
<!-- <div class="text-center">
  <p class="text-muted" ng-show="shoots.length==0">When you participate in a shoot, you will see it here...</p>

  <div ng-repeat="shoot in shoots" style="display:inline-block;">
        <div class="panel panel-default" style=" vertical-align: bottom; margin-bottom:10px;position:relative;width:300px;min-height:350px;display:inline-block;margin-right:10px;">
        <a href="/watch/view/{{shoot.id}}">
            <div style="height:210px;overflow:hidden;background:#F9F9F9">
                <div ng-repeat="media in shoot.media" style="float:left;width:25%;height:20%">
                    <img ng-src="{{media.thumb}}?s=75" style="width:100%;min-height:42px"/>
                </div>
            </div>
        </a>

            <h2 style="min-height:2.3em;max-height:2.2em;text-overflow: ellipsis;word-wrap: break-word;overflow:hidden;">{{shoot.name}}</h2>
            <p><strong>{{formatDate(event.starts) | date:'d MMM yy'}}</strong> to <strong>{{formatDate(event.ends) | date:'d MMM yy'}}</strong></p>

        </div>
    </div>
</div> -->
</div>
