<!DOCTYPE html>
<html lang="<%- req.getLocale() %>" dir="<%- rtl %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">

  <link rel="icon" type="image/png" href="/images/favicon.png?" sizes="any">
  
  <% if (!sails.config.LOCALONLY) { %>
    
  <meta name="google-site-verification" content="9VV37JlFo9nMYNnmxw_iMZ0uEeONLE59qc7m4rzDUQ4" />
  <script async src="https://www.googletagmanager.com/gtag/js"></script>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
  <script>
    var tracker = '<%- sails.config.GOOGLE_ANALYTICS %>';
    window['ga-disable-' + tracker] = true;

    function enableGA() {
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', tracker, { 'anonymize_ip': true });
      window['ga-disable-' + tracker] = false;
    }

    function disableGA() {
      window['ga-disable-' + tracker] = true;
    }

    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#e53935"
          },
          "button": {
            "background": "#fff",
            "text": "#e53935"
          }
        },
        "position": "bottom-right",
        "type": "opt-in",
        "content": {
          "message": "This website uses a cookie for Google Analytics to aid our understanding of how people use video.",
          "link": "Learn More",
          "href": "<%- sails.config.central_url %>/privacy",
          "dismiss": "Decline"
        },
        onInitialise: function (status) {
          var type = this.options.type;
          var didConsent = this.hasConsented();
          if (type == 'opt-in' && status == 'allow' && didConsent) {
            // enable cookies
            enableGA();
          }

        },

        onStatusChange: function (status, chosenBefore) {
          var type = this.options.type;
          var didConsent = this.hasConsented();

          if (type == 'opt-in' && status == 'allow' && didConsent) {
            // enable cookies
            enableGA();
          }
        },

        onRevokeChoice: function () {
          // console.log("revoke");

          var type = this.options.type;
          if (type == 'opt-in') {
            // disable cookies
            disableGA();
          }
        },
      })
    });
  </script>

  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <% } %>

  <% if (typeof(publicevent)!='undefined') { %>
  <title>
    <%- publicevent.name %>
  </title>
  <meta property="og:title" content="<%- publicevent.name %>" />
  <meta property="og:description" content="<%- publicevent.datetext %>" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="<%- publicevent.iconbackground %>" />
  <meta property="og:url" content="<%- sails.config.master_url %>/s/<%- publicevent.offlinecode %>" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="<%- publicevent.name %>">
  <meta name="twitter:description" content="<%- publicevent.datetext %>">
  <meta name="twitter:image" content="<%- publicevent.iconbackground %>">
  <meta property="author" content="<%- publicevent.user.profile.displayName %>">
  <% } else { %>
  <title>
    <%- __('Indaba') %>
    <%- (sails.config.beta)?'BETA':'' %>

    <%- (event && event.name)?' - ' +event.name:'' %>
  </title>
  <meta name="description" content="">
  <meta name="author" content="<%- sails.config.central_url %>">
  <% } %>

  <script>
    var apikey = '<%- (typeof(apikey)!='undefined')?apikey:'' %>';
    var GOOGLE_MAPS_KEY = '<%= sails.config.GOOGLE_MAPS_KEY %>';
  </script>

  <!-- <link href='/styles/opensans.css' rel='stylesheet' type='text/css'> -->
  <!--<link rel="stylesheet" href="/styles-frontpage/font-awesome.min.css">-->


  <!--<link rel="stylesheet" href="/static/min/production.css">-->
  <!--SCRIPTS-->
  <script src="/js/dependencies/0socket.io.js"></script>
  <script src="/js/dependencies/2jquery-2.0.3.min.js"></script>
  <script src="/js/dependencies/3angular.min.js"></script>
  <script src="/js/dependencies/ngsails.io.js"></script>
  <script src="/js/_app.js"></script>
  <script src="/js/admin_controller.js"></script>
  <script src="/js/angular-animate.min.js"></script>
  <script src="/js/angular-bootstrap-switch.js"></script>
  <script src="/js/angular-bootstrap-tokenfield.js"></script>
  <script src="/js/angular-dragdrop.js"></script>
  <script src="/js/angular-knob.js"></script>
  <script src="/js/angular-loading-spinner.js"></script>
  <script src="/js/angular-sanitize.min.js"></script>
  <script src="/js/angular-spinner.min.js"></script>
  <script src="/js/angular-ui-sortable.js"></script>
  <script src="/js/bootstrap-colorpicker-module.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script src="/js/bootstrap-slider.js"></script>
  <script src="/js/bootstrap-switch.js"></script>
  <script src="/js/bootstrap-tokenfield.min.js"></script>
  <script src="/js/bootstrap-wysiwyg.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstro.min.js"></script>
  <script src="/js/checklist-model.js"></script>
  <script src="/js/commission_controller.js"></script>
  <script src="/js/controller_api.js"></script>
  <script src="/js/dashboard_controller.js"></script>
  <script src="/js/dirPagination.js"></script>
  <script src="/js/event_controller.js"></script>
  <script src="/js/export_controller.js"></script>
  <script src="/js/handlebars-v1.1.2.js"></script>
  <script src="/js/holder.js"></script>
  <script src="/js/jasny-bootstrap.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.hotkeys.js"></script>
  <script src="/js/jquery.knob.js"></script>
  <script src="/js/lodash.min.js"></script>
  <script src="/js/log_controller.js"></script>
  <script src="/js/modernizr.js"></script>
  <script src="/js/moment.js"></script>
  <script src="/js/newshoot_controller.js"></script>
  <script src="/js/ngStorage.min.js"></script>
  <script src="/js/rzslider.min.js"></script>
  <script src="/js/shoot_controller.js"></script>
  <script src="/js/slider.js"></script>
  <script src="/js/spin.min.js"></script>
  <script src="/js/ui-bootstrap-tpls-0.13.0.min.js"></script>
  <script src="/js/ui-grid.min.js"></script>
  <script src="/js/ui-utils.js"></script>
  <script src="/js/vg-buffering.min.js"></script>
  <script src="/js/vg-controls.min.js"></script>
  <script src="/js/videogular.min.js"></script>
  <script src="/js/watch_controller.js"></script>
  <!--SCRIPTS END-->
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/00opensans.css">
  <link rel="stylesheet" href="/styles/bootstrap-switch.css">
  <link rel="stylesheet" href="/styles/bootstrap-tokenfield.css">
  <link rel="stylesheet" href="/styles/carousel.css">
  <link rel="stylesheet" href="/styles/colorpicker.css">
  <link rel="stylesheet" href="/styles/datepicker.css">
  <link rel="stylesheet" href="/styles/ekko-lightbox.min.css">
  <link rel="stylesheet" href="/styles/fa-rtl.css">
  <link rel="stylesheet" href="/styles/font-awesome.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/jasny-bootstrap.min.css">
  <link rel="stylesheet" href="/styles/jquery-ui.css">
  <link rel="stylesheet" href="/styles/rzslider.min.css">
  <link rel="stylesheet" href="/styles/ui-grid.min.css">
  <link rel="stylesheet" href="/styles/videogular.css">
  <link rel="stylesheet" href="/styles/x_app.css">
  <!--STYLES END-->
  <% if (rtl=='rtl') { %>
  <link rel="stylesheet" href="/bootstrap-rtl.min.css">
  <% } %>

</head>

<body ng-app="bootleggerApp">
  <% if (typeof(sails.config.maintenance)!='undefined') { %>
  <div style="position:absolute;top:0;width:100%;z-index:1000;height:50px;border-radius:0" class="alert alert-warning text-center">
    <i class="fa fa-warning"></i>
    <%- sails.config.maintenance %>
  </div>
  <% } %>
  <% if (sails.config.DEMOMODE) { %>
    <div style="position:absolute;top:0;width:100%;z-index:1000;height:50px;border-radius:0;" class="alert alert-warning text-center">
      <i class="fa fa-warning"></i>
This site is for training ONLY. Content will be removed after 48 hours.
    </div>
    <% } %>
  <div class="container" <% if (typeof(sails.config.maintenance)!='undefined' || sails.config.DEMOMODE ) { %>style="margin-top:50px"
    <%}%>>

    <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" style="margin:auto auto;margin-top:10%;" role="document">
        <form action="/auth/changename" method="POST">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">
                <%- __('Edit Name') %>
              </h4>
            </div>
            <div class="modal-body">
              <p>
                <%- __('Change the name that will be used on credits for shoots you participate in.') %>
              </p>
              <input type="text" name="name" class="form-control" placeholder="Dave Indaba" value="<%- (user)?user.profile.displayName:'' %>"
                required min="10" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"><%- __('Close') %></button>
              <input type="submit" class="btn btn-primary" value="<%- __('Update My Name') %>" />
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="header row">

      <div class="visible-xs col-xs-1" style="padding-left:0">
        <a href="/" class="logo-xs">&nbsp;</a>
        <% if (sails.config.DEMOMODE) { %>
        <span style="position: absolute;top:-7px;left:33px;" class="buildversion bvsmall">TRAINING</span>
        <% } %>
      </div>

      <div class="hidden-xs col-sm-3" style="padding-left:0">
        <a href="/" class="logo">&nbsp;</a>
        <% if (sails.config.DEMOMODE) { %>
        <span style="position: absolute;top:-5px;left:122px;" class="buildversion">TRAINING</span>
        <% } %>
      </div>

      <div class="col-xs-push-2 col-xs-6 text-center visible-xs" style="padding-left:0">
        <% if (user) { %>
        <% if(event.name != "") { %>
        <h3 style="margin:0;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;font-size: 13pt;line-height:30px;"
          class="text-muted">
          <%= event.name %>
        </h3>
        <% } 
        } %>
      </div>

      
      <div class="col-xs-5 col-sm-3  col-sm-push-6 text-right flip" style="padding-right: 0;min-width:84px;padding-top:4px;"
        ng-controller="myprofile">
        <div class="dropdown" style="display:inline-block">
          <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" style="text-transform: uppercase"
            role="button" aria-haspopup="true" aria-expanded="false">
            <%- req.getLocale() %>
          </a>

          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
            <% _.each(_.without(sails.config.i18n.locales,req.getLocale()),function(l){ %>
            <li style="margin-bottom:4px;">
              <a href='/auth/locale/<%- l %>'><%- __(l) %></a>
            </li>
            <% }) %>
          </ul>
        </div>
        <% if (user) { %>
        &middot;
        
        <a href="#" class="super hidden-xs hidden-sm" data-toggle="modal" data-target="#nameModal">
          <%= user.profile.displayName %>
        </a>
        <!-- <img class="profilephoto" style="border-radius:15px;width:26px;height:26px;margin-right:2px;" src="<%= user.profile.photos[0].value.replace(sails.config.master_url,'') %>" /> -->
          <% if (sails.config.DEMOMODE) { %>
            <a class="logoutbtn" href="/auth/logout">
              <i style=" vertical-align: middle;margin-left:2px;" class="fa fa-2x fa-sign-out"></i>
            </a>
            <% } %>
           
            
            <% } %>
      <div class="clearfix"></div>
    </div>
   

    <div class="mainmenunew col-sm-6 col-xs-12 text-center col-sm-pull-3 hidden-xs">
      <% if (user) { %>
      <a href="/dashboard">
        <%- __('My Shoots') %></a>
        
      <% } %> &middot;
      
      <% if (sails.config.LOCALONLY && !sails.config.DEMOMODE){ %>
      <a href="/docs" target="_blank">
        <%- __('Documentation') %></a>
        <% } else { %>
          <a href="https://indaba.dev" target="_blank">
            <%- __('Documentation') %></a>
        <% } %>
    </div>
  </div>

  <!-- <% if (user && _.contains(sails.config.admin_email,user.profile.emails[0].value)) { %> -->
  <!-- <div class="row" ng-controller="adminlists" >
    <div class="bg-success clearfix" style="padding-top:1em;padding-bottom: 1em;margin-left:15px;margin-right:15px;border-radius: 0 0 6px 6px;">
      <div class="col-xs-12 col-sm-4 col-xs-2">

        <a class="btn btn-primary pull-left flip" href="/event/admin">
          <i class="fa fa fa-cogs"></i>
          <span class="hidden-xs"><%- __('Administration') %>
          </span>
        </a>

      </div>
      <div class="col-sm-4 text-center">

        <span class="text-small text-warning flip hidden-xs" style="margin-top:.5em;display:block;">{{edits['current-jobs-ready']}}
            <%- __('jobs in queue') %> </span>
          </div>


        
      <div class="col-sm-4 col-xs-10 text-right flip">
        <span class="form-inline">
          <input type="text" ng-model="shootsearch" typeahead-on-select="searchEvent($item, $model, $label)" style="display:inline-block;"
            typeahead-loading="loadingShoots" placeholder="<%- __('search shoots') %>" typeahead="n.name for n in getShoot($viewValue) | filter:$viewValue | limitTo:8"
            class="form-control input">
          <i ng-show="loadingShoots" class="fa fa-spin fa-spinner"></i>
        </span>

      </div>

    </div>

  </div> -->

  
  <!-- <% } %> -->
  <!--</div>-->
  <div class="clear:both"></div>
  <% if (user && typeof(viewonly)=='undefined') { %>
  <div class="text-center hidden-xs" ng-controller="titleController" style="margin-bottom: 10px;border-bottom-left-radius: 20px;overflow: hidden;border-bottom-right-radius: 20px;">
    <% if(event.name != "") { %>
    <div>

      <h1 class="thetitle" >
        <div ng-hide="editingtitle" style="display:inline;color:silver;">
          <% if (typeof(pagetitle)!='undefined'){ %>
          <%- pagetitle %>
          <% }%>
        </div>
        <span ng-hide="editingtitle">
          <%= event.name %>
        </span>
        <input id="titleedit" ng-keydown="titlechanged($event)" ng-show="editingtitle" class="form-control" style="background:transparent;border-top:none;border-left:none;border-right:none;border-bottom:1px solid black;border-radius:0;box-shadow:none;height:40px;line-height: 1.1;font-family:Open Sans,Helvetica Neue,Segoe UI,Segoe WP,sans-serif;font-size:36px;padding:0px;text-align:center;"
          type="text" value="<%= event.name %>" />
        <a ng-hide="editingtitle" style="font-size:10pt;padding-bottom:10px;vertical-align:middle" href="#"
          ng-click="edittitle();">
          <sup>
            <i tooltip="Change Shoot Title" class="glyphicon glyphicon-pencil"></i>
          </sup>
        </a>
      </h1>
    </div>
    <% } %>
  </div>
  <% } %>
  </div>


  <% if (event.name && typeof(viewonly)=='undefined') { %>
  <div class="container visible-xs" style="margin-top:1em;">
    <div class="row text-center" style="margin: 0 auto;">
      <% if (page=='event') { %>
      <!-- <a href="/"><i class="fa fa-chevron-left"></i></a> -->
      <span class="lead title">
        <%- __('Settings') %>
      </span>
      <a href="/commission/<%- event.id %>" class="pull-right"><i class="fa fa-2x fa-chevron-end"></i></a>
      <div class="row dots">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <% } %>

      <% if (page=='commission') { %>
      <a href="/event/view/<%- event.id %>" class="pull-left"><i class="fa fa-2x fa-chevron-left"></i></a>
      <span class="lead">
        <%- __('Template') %></span>
      <a href="/shoot/<%- event.id %>" class="pull-right"><i class="fa fa-2x fa-chevron-right"></i></a>
      <div class="row dots">
        <span class="dot"></span>
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <% } %>

      <% if (page=='shoot') { %>
      <a href="/commission/<%- event.id %>" class="pull-left"><i class="fa fa-2x fa-chevron-left"></i></a>
      <span class="lead">
        <%- __('Videos') %></span>
      <a href="/watch/edits/<%- event.id %>" class="pull-right"><i class="fa fa-2x fa-chevron-right"></i></a>
      <div class="row dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <% } %>

      <% if (page=='watch') { %>
      <a href="/shoot/<%- event.id %>" class="pull-left"><i class="fa fa-2x fa-chevron-left"></i></a>
      <span class="lead">
        <%- __('Stories') %></span>
      <a href="/post/<%- event.id %>" class="pull-right"><i class="fa fa-2x fa-chevron-right"></i></a>
      <div class="row dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot active"></span>
        <span class="dot"></span>
      </div>
      <% } %>

      <% if (page=='post') { %>
      <a href="/watch/edits/<%- event.id %>" class="pull-left"><i class="fa fa-2x fa-chevron-left"></i></a>
      <span class="lead">
        <%- __('Transcriptions') %>
      </span>
      <div class="row dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot active"></span>
      </div>
      <% } %>
    </div>
  </div>
  <div class="container hidden-xs">
    <div class="progressmenu row" style="margin: 0 auto;">
      <!-- <div class="visible-xs-block col-xs-1">&nbsp;</div> -->
      <a tooltip-popup-delay="200" tooltip="<%- __('prepare for your shoot') %>" class="col-sm-offset-1 col-xs-2 mainmenu text-muted <% if (page=='event') { %>active<%}%>"
        href="/event/view/<%- event.id %>">
        <span>
          <%- __('Settings') %>
        </span>
      </a>
      <a tooltip-popup-delay="200" tooltip="<%- __('decide what to shoot') %>" class="col-xs-2 mainmenu text-muted <% if (page=='commission') { %>active<%}%>"
        href="/commission/<%- event.id %>">
        <span>
          <%- __('Template') %>
        </span>
      </a>
      <a tooltip-popup-delay="200" tooltip="<%- __('real-time view of your footage') %>" class="col-xs-2 mainmenu text-muted <% if (page=='shoot') { %>active<%}%>"
        href="/shoot/<%- event.id %>">
        <span>
          <%- __('Videos') %>
        </span>
      </a>
      <a tooltip-popup-delay="200" tooltip="<%- __('view all community stories') %>" class="col-xs-2 mainmenu text-muted <% if (page=='watch') { %>active<%}%>"
        href="/watch/edits/<%- event.id %>">
        <span>
          <%- __('Stories') %>
        </span>
      </a>
      <a tooltip-popup-delay="200" tooltip-append-to-body="true" tooltip="<%- __('download your videos for offline editing') %>" class="col-xs-2 mainmenu text-muted <% if (page=='post') { %>active<%}%>"
        href="/post/<%- event.id %>">
        <span>
          <%- __('Transcriptions') %>
        </span>
      </a>
    </div>
  </div>
  <%}%>

  <div class="container" style="padding-top:10px;">
    <% if(flash && flash.msg) { %>
    <script>var flashmsg = true;</script>
    <ul class="myalert alert alert-info col-sm-8 col-sm-offset-2">
      <li>
        <i class="fa fa-exclamation-circle"></i>
        <%- flash.msg %>
      </li>
    </ul>
    <br>
    <div class="clearfix"></div>
    <% } %>

    <% if(flash && flash.err) { %>
    <script>var flashmsg = true;</script>
    <% if (flash.err instanceof Array) { %>
    <ul class="myalert alert alert-danger">
      <% Object.keys(flash.err).forEach(function(error){ %>
      <script>
        $(function () {
          $('[name=<%= flash.err[error].name %>]').tooltip(
            {
              trigger: 'manual',
              title: '<%= flash.err[error].msg %>'
            });
          $('[name=<%= flash.err[error].name %>]').tooltip('show');
        });
      </script>
      <li>
        <%- flash.err[error].msg %>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <div class="myalert alert alert-danger">
      <%- flash.err.msg %>
    </div>
    <% }} %>

    <div class="row">
      <div class="col-md-12">
        <div id="mainbody">
          <%- body %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Site footer -->
    <div class="footer text-muted" style="min-height:100%;text-align:center;font-size:10pt;">
      <% if (!sails.config.LOCALONLY) { %>
      <a class="text-muted" href="/privacy">
        <%- __('Privacy') %></a> &middot;
      <a class="text-muted" href="/terms">
        <%- __('Terms') %></a> &middot;
      
      <a class="text-muted" href="https://indaba.dev">
        <%- __('Guide') %></a> &middot;
        <% } %>
      
      <span>
        Dashboard: v<%- sails.config.version %> &middot;
      </span>
      <% if (sails.config.workerversion) { %>
      <span>
        Worker: v<%- sails.config.workerversion %> &middot;
      </span>
      <% } %>
      <span>
        <img src="/images/by.png" style="height:14px;" /> <br/> The Indaba platform and related static content is licensed under a Creative Commons Attribution 4.0 International license.
      </span>
      
    </div>
  </div>
    <% if (event.name) { %>
      <script>
        var mastereventname = "<%- encodeURIComponent(event.name) %>";
        var mastereventid = "<%- event.id %>";
        var masteruserid = "<%- user.id %>";
        var master_url = "<%- sails.config.master_url %>";
  </script>
  <% } %>

  <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
  </script>

</body>

</html>