<style>
	.limitheight {
		height: 185px;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.list-group-item {
		cursor: pointer;
	}

	.shothidden {
		opacity: 0.5;
	}

	.selected {
		background: #f2f2f2;
	}

	.iconSpan {
		position: absolute;
		top: 5px;
		right: 5px;
	}

	#roles,
	#coverage,
	#phases {
		box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	}

	#roles .progress {
		height: 4px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		margin-bottom: 0;
	}

	.placeholder_clip {
		width: 50%;
		height: 130px;
		/*background: #f2f2f2;*/
		float: left;
		box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	}

	.nav-tabs>li:last-child {
		float: right;
	}

	.nav-tabs>li:last-child>a {
		padding: 0;
	}

	.tab-pane {
		padding-top: 20px;
	}

	.badge-boot {
		background: none;
		color: silver;
	}

	#editor,
	#editor2 {
		overflow-y: scroll;
		max-height: 300px;
		min-height: 300px;
	}

	.media {
		/*box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.63);*/
		border-bottom: 1px solid #efefef;
	}

	.truncate_heading {
  width: 80%;
  height:1.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-right: 1em;
}

.truncate_desc {
  height: 3em;
  /* white-space: ; */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1em;
  margin-bottom: 4px;
}
</style>


<div ng-app="commissionApp" ng-controller="commission" ng-cloak style="position:relative">
	<div style="position:absolute;width:100%;height:100%;z-index:100;background:rgba(255,255,255,0.8);" class="text-center"
	 ng-show="loading">
		<i style="display:block;"><img src="/images/loading.gif" /></i>
	</div>

	<div class="hidden-xs row" ng-hide="ifRoleImages()" style="margin-top:2em;">
		<div class="alert alert-warning col-sm-8 col-sm-offset-2">
			<i class="fa fa-info fa-3x" style="float:left;margin-right:10px;"></i>
			<h3 style="margin:0">
				<%- __('Not Quite Ready!') %>
				<small style="display:block;">
					<%- __('Make sure to add a image for each Theme') %></small>
			</h3>
		</div>
	</div>

	<div class="alert text-center" ng-class="{'alert-warning':showmsg}">
		<span ng-show="showmsg" class="text-danger">
			<small>
				<%- __('Changes not saved') %></small>
		</span>
		<span ng-hide="showmsg" class="text-muted">
			<small>
				<i class="fa fa-clock-o"></i>
				<%- __('last saved at') %> {{eventinfo.updatedAt | date:'dd/MM HH:mm:ss'}}</small>
		</span>

		<span ng-show="success" class="text-success">
			&nbsp;
			<%- __('Shoot Information Updated!') %>
			<!-- <a href="/"><%- __('Back to Dashboard') %></a> -->
		</span>

		<i ng-show="loading"><img style="width:16px;" src="/images/loading.gif" /></i>

		<span ng-show="showmsg">
			<button type="button" class="btn btn-sm btn-success" ng-click="save()">Save</button>
		</span>
	</div>

	<div class="row">

		<div class="col-xs-12">
			<p class="text-muted text-center" ng-hide="showphases">
				<%- __('Phases can be used to organise larger shoots.') %> <a href="#" ng-click="showphases=true">
					<%- __('View Phases') %></a></p>
			<p ng-show="showphases" class="text-center"><a href="#" ng-click="showphases=false">Hide Phases</a></p>
			<div class="list-group" style="border-radius: 6px;" id="phases" ng-show="showphases">
				<div class="list-group-item active" tooltip-popup-delay="300" tooltip="<%- __('Can be used to organise time periods in your shoot, e.g. day or night.') %>">
					<%- __('Phases') %>
					<i style="color:silver" class="fa fa-question-circle"></i>


					<button ng-click="addphase()" class="btn btn-link pull-right flip" style="padding:0;color:white;display:inline-block;margin:-2px;">
						<i class="fa fa-plus fa-2x"></i>
					</button>
				</div>

				<div class="limitheight" ui-sortable="{ 'ui-floating': true, 'axis': 'y' }" ng-model="event.phases">

					<div class="list-group-item" style="border-radius: 0" ng-repeat="phase in event.phases | filter:phasefilter track by $index"
					 ng-class="{'selected':(selection.currentphase==phase)}">

						<div ng-hide="phase.editing">

							<button class="btn btn-link pull-right flip" style="margin:-4px;" ng-click="selection.currentphase=phase;selection.currentrole=null;selection.currentcoverage=null;">
								<i class="fa fa-code-fork"></i>
							</button>
							<button class="btn btn-link pull-right flip" style="margin:-4px;" ng-click="phase.editing=true">
								<i class="fa fa-edit"></i>
							</button>
							<span class="badge badge-boot pull-right">{{phase.roles.length}}</span>
							<h4 class="list-group-item-heading" style="display:inline-block;" tooltip-append-to-body="true" tooltip="Click to make current Phase"
							 tooltip-placement="right" ng-click="changemetaphase($index)"><span ng-show="eventinfo.currentphase==$index"
								 class="badge badge-success">
									<%- __('CURRENT') %></span> &nbsp; {{phase.name}}</h4>

						</div>

						<div ng-show="phase.editing" class="clearfix">
							<div style="float:right;width:15%;">
								<button class="btn btn-link pull-right flip" ng-click="removePhase($index)">
									<i class="fa fa-times"></i>
								</button>
								<button class="btn btn-link pull-right flip" ng-click="stopEditing(phase)">
									<i class="fa fa-save"></i>
								</button>
							</div>
							<div class="pull-left flip" style="width:85%">
								<input type="text" class="form-control" ng-model="phase.name" placeholder="name" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-sm-6">
			<div class="list-group" id="roles" style="border-radius: 6px;">

				<div href="#" class="list-group-item active" tooltip-popup-delay="300" tooltip="<%- __('Can be used to help participants categorise the videos they contribute') %>">
					<button ng-click="addrole()" class="btn btn-link pull-right flip" style="padding:0;margin:-2px;color:white;">
						<i class="fa fa-plus fa-2x"></i>
					</button>
					
					<%- __('Themes') %>
					<i style="color:silver" class="fa fa-question-circle"></i>
				</div>

				<div class="limitheight" ui-sortable="{ 'ui-floating': true, 'axis': 'y' }" ng-model="event.roles">
					<div class="list-group-item" style="border-radius: 0" ng-repeat="role in event.roles | filter:rolefilter track by role.id"
					 ng-class="{'selected':(selection.currentrole==role)}" ng-click="selectRoleClick(role)">

						<div ng-hide="role.editing">
							<button class="btn btn-link pull-right" style="padding:2px;" ng-click="role.editing=true">
								<i class="fa fa-edit"></i>
							</button>

							<!-- <button class="btn btn-link pull-right" ng-click="uploadrole(role.id)">
								<i class="fa fa-image"></i>
							</button> -->

							<div style="position:absolute;left:0;top:0;height:100%;width:4em;background-size: cover;background-repeat: no-repeat;background-color: silver"
							 ng-click="uploadrole(role)" ng-style="{'background-image':'url(/event/roleimg/'+eventinfo.id+'/'+role.id+')'}"
							 class="float:left">
								<i class="fa fa-upload" style="width:100%;text-align:center;color:white;padding-top:1em;"></i>
							</div>

							<span class="badge badge-boot pull-right">{{role.shot_ids.length}}</span>
							<h4 class="list-group-item-heading" style="margin-left:2.8em;">
								<i class="fa fa-check" ng-click="takefromphase(role.id,$event)" ng-show="inPhase(role) && selection.currentphase!=null"
								 style="color:green;"></i>
								<i class="fa fa-check" ng-click="addtophase(role.id,$event)" ng-show="!inPhase(role) && selection.currentphase!=null"
								 style="color:silver;"></i>
								{{role.name}}
							</h4>

						</div>

						<div ng-show="role.editing" class="clearfix">
							<div style="float:right;width:15%;">
								<button class="btn btn-link pull-right" ng-click="removeRole(role.id)">
									<i class="fa fa-times"></i>
								</button>
								<button class="btn btn-link pull-right" ng-click="stopEditing(role)">
									<i class="fa fa-save"></i>
								</button>
							</div>
							<div class="pull-left" style="width:85%">
								<input type="text" class="form-control" ng-model="role.name" placeholder="name" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div style="text-align:right;height:226px;opacity:0.6;text-align:center;background: url(/images/smartphone.svg);background-position:center;background-size: cover;background-repeat: no-repeat;overflow: hidden;position:relative;padding-top:2%;">
				<% if (event.eventtype.roleimg === true || event.eventtype.roleimg == "" || typeof event.eventtype.roleimg == 'undefined') { %>
				<!-- <img src="holder.js/100px300?text=png, jpg" style="opacity:0.6;" /> -->
				<% } else { %>
				<div style="background-image:url(/event/roleimg/<%- event.id %>?cachbust=<%- Date.now() %>);background-size:contain;width:100%;height:100%;background-position:center;background-repeat:no-repeat;"></div>
				<% } %>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="strike" style="opacity: 0.5">
		<span>
			<%- __('SUGGESTED SHOTS') %></span>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-6" ng-repeat="m in event.shot_types track by m.id" style="background:white;margin-bottom:10px;"
		 ng-class="{'shothidden':m.hidden}">

			<div class="media">
				<div class="col-md-4" style="padding:0;position: relative;">

					<img style="width:100%" class="media-object" ng-src="/data/icons/{{m.icon}}" />

					<i class="fa fa-check fa-5x" style="position:absolute;width:100%;height:100%;text-align:center;left:0;top:0;color:green"
					 ng-click="takefromrole(m.id,$event)" ng-show="inRole(m) && selection.currentrole!=null"></i>

					<i class="fa fa-check fa-5x" style="position:absolute;width:100%;height:100%;text-align:center;left:0;top:0;color:silver;"
					 ng-click="addtorole(m.id,$event)" ng-show="!inRole(m) && selection.currentrole!=null"></i>

					<i class="fa fa-check fa-5x" style="position:absolute;width:100%;height:100%;text-align:center;left:0;top:0;color:green"
					 ng-click="takefromcoverage(m,$event)" ng-show="inCoverage(m) && selection.currentcoverage!=null"></i>

					<i class="fa fa-check fa-5x" style="position:absolute;width:100%;height:100%;text-align:center;left:0;top:0;color:silver;"
					 ng-click="addtocoverage(m,$event)" ng-show="!inCoverage(m) && selection.currentcoverage!=null"></i>

					<button style="position: absolute;bottom:0;left:0;" class="btn btn-link" tooltip="<%- __('Requires a video release') %>"
					 tooltip-append-to-body="true" ng-click="m.release=!m.release">
						<i class="fa" ng-class="{'fa-lock':m.release, 'fa-unlock-alt':m.release==undefined || m.release==false}" ng-model="m.release"></i>
					</button>
					
					<span class="label label-success" style="border-bottom-right-radius: 3px;position:absolute;left:0;top:0;" ng-show="m.footage>0">{{m.footage}} <%- __('taken') %></span>
				</div>
				<div class="col-md-8">
					<div style="float:right;width:15%;text-align: right;">
						<button class="btn btn-link" tooltip-append-to-body="true" tooltip="<%- __('Temporarily hide from contributors') %>"
						 ng-click="m.hidden=!m.hidden">
							<i class="fa" ng-class="{'fa-eye-slash':m.hidden, 'fa-eye':m.hidden==undefined || m.hidden==false}" ng-model="m.hidden"></i>
						</button>
						<button tooltip-append-to-body="true" tooltip="<%- __('Make a copy') %>" class="btn btn-link" ng-click="clone(m)">
							<i class="fa fa-files-o"></i>
						</button>
						<button tooltip-append-to-body="true" tooltip="<%- __('Remove') %>" class="btn btn-link" ng-show="m.footage == 0"
						 ng-click="remove(m)">
							<i class="fa fa-times"></i>
						</button>
						<button tooltip-append-to-body="true" tooltip="<%- __('Edit') %>" class="btn btn-link" ng-click="m.editing=!m.editing">
							<i class="fa" ng-class="{'fa-edit':!m.editing,'fa-save':m.editing}"></i>
						</button>
					</div>
					<div style="float:left;width:85%;">
						<div ng-show="m.editing">
							<input type="text" class="form-control" ng-model="m.name" />
							<textarea class="form-control" ng-model="m.description" minlength="10" required></textarea>
							<div class="col-sm-6" style="padding:0;">
								<div>
									<input style="width:50%;display:inline-block;" class="form-control" ng-model="m.wanted" min="1" max="50"
									 required />
									<span>
										<%- __('shots') %></span>
								</div>
							</div>
							<div class="col-sm-6" style="padding:0;">
								<div>
									<input style="width:50%;display:inline-block;" class="form-control" ng-model="m.max_length" min="5" max="1200"
									 required />
									<span>
										<%- __('secs') %></span>
								</div>
							</div>
						</div>
					</div>


					<h4 class="media-heading truncate_heading" ng-hide="m.editing">{{m.name}}</h4>
					<p ng-hide="m.editing" ng-bind-html="m.description | shotvalue" class="truncate_desc"></p>
					<span class="text-muted" ng-hide="m.editing">{{m.wanted}} <%- __('shots of') %> {{m.max_length}}s <%- __('wanted') %> </span>
					<div>&nbsp;</div>
				</div>

			</div>


		</div>
		<div class="col-sm-6">

			<div class="row">

				<div class="col-xs-12" style="margin-bottom:10px;min-height:100px;background: #fbfbfb;">
					<button ng-click="showallshots()" class="btn btn-link" style="text-align: center;width: 100%;display: block;height: 100%;padding-top: 37px;"
					 tooltip-popup-delay="300" tooltip="<%- __('Loads shot overlays from Our Story’s own library of shots') %>"><i
						 class="fa fa-plus"></i>
						<%- __('Add Shot from the Archive') %></button>
				</div>
			</div>
		</div>
	</div>

<div class="modal fade" data-show="true" id="allshotsdialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
 aria-hidden="true">
	<div class="modal-dialog modal-lg" style="margin:auto auto;margin-top:5%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<%- __('Add From the Shot Archive') %>

				</h4>
			</div>
			<div class="modal-body">

				<tabset>

					<tab heading="Archive">
						<input type="text" ng-model="allshotsfilter" class="form-control" placeholder="enter search term" />
						<br>
						<div class="list-group" id="allshots" style="overflow-y:scroll;overflow-x: hidden;max-height:400px;">
							<div class="row">
								<div ng-repeat="m in allshots | filter:allshotsfilter" class="col-xs-6 col-sm-4 col-md-3 " style="position:relative;cursor:pointer;padding:1px;"
								 ng-click="addshot(m)">
									<img style="width:100%;" class="media-object" ng-src="/data/icons/{{m.icon}}" />
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Add New">
						<form class="form-inline" action="/api/commission/addshot/<%- event.id %>?apikey=<%- apikey %>" method="post"
						 enctype="multipart/form-data">
							<div class="form-group">
								<div class="input-group">
									<label class="input-group-btn">
										<span class="btn btn-primary">
											<%- __('Browse&hellip;') %> <input type="file" name="image" style="display: none;">
										</span>
									</label>
									<input type="text" class="form-control" readonly>
								</div>
								<input type="submit" value="<%- __('Add Shot') %>" class="btn btn-primary" />
							</div>
						</form>
					</tab>
					<div class="clearfix"></div>
				</tabset>


			</div>
		</div>
	</div>
</div>

<div class="modal fade" data-show="true" id="uploadroleimage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
 aria-hidden="true">
	<div class="modal-dialog" style="margin:auto auto;margin-top:5%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">
					<%- __('Update Theme Image') %>
				</h4>
			</div>
			<div class="modal-body text-center">
				<span ng-show="currentroleupload.image">
					<img ng-src="{{'/event/roleimg/'+eventinfo.id+'/'+currentroleupload.id}}" />
					<br>
					<a class="btn btn-link" ng-href="/event/clearroleimg/{{eventinfo.id}}/{{currentroleupload.id}}?apikey=<%-apikey%>">
						<%- __('Remove Image') %>
					</a>
					<br>
					<br>
					<div class="strike">
						<span>
							<%- __('OR') %></span>
					</div>
					<br>
				</span>
				<form class="form-inline" action="{{'/event/map/<%- event.id %>/'+currentroleindex+'?apikey=<%- apikey %>'}}"
				 method="post" enctype="multipart/form-data">
					<p><strong>
							<%- __('Upload New') %></strong></p>
					<div class="form-group">

						<div class="input-group">
							<label class="input-group-btn">
								<span class="btn btn-primary">
									<%- __('Browse&hellip;') %> <input type="file" name="map" style="display: none;">
								</span>
							</label>
							<input type="text" class="form-control" readonly>
						</div>

						<input type="submit" value="<%- __('Upload') %>" class="btn btn-primary" />
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="alert text-center" ng-class="{'alert-warning':showmsg}">
	<span ng-show="showmsg" class="text-danger">
		<small>
			<%- __('Changes not saved') %></small>
	</span>

	<span ng-hide="showmsg" class="text-muted">
		<small>
			<i class="fa fa-clock-o"></i>
			<%- __('last saved at') %> {{eventinfo.updatedAt | date:'dd/MM HH:mm:ss'}}</small>
	</span>

	<i ng-show="loading"><img src="/images/loading.gif" /></i>

	<span ng-show="showmsg">
		<button type="button" class="btn btn-sm btn-success" ng-click="save()">
			<%- __('Save') %></button>
	</span>
</div>
</div>

<script>
	$(function () {

		// We can attach the `fileselect` event to all file inputs on the page
		$(document).on('change', ':file', function () {
			var input = $(this),
				numFiles = input.get(0).files ? input.get(0).files.length : 1,
				label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
			input.trigger('fileselect', [numFiles, label]);
		});

		// We can watch for our custom `fileselect` event like this
		$(document).ready(function () {
			$(':file').on('fileselect', function (event, numFiles, label) {

				var input = $(this).parents('.input-group').find(':text'),
					log = numFiles > 1 ? numFiles + ' files selected' : label;

				if (input.length) {
					input.val(log);
				} else {
					if (log) alert(log);
				}

			});
		});

	});
</script>