<style>
.big
{
	font-size:25pt;
	color:silver;
	line-height: 14pt;
	display: block;
	float: left;
	text-align: center;
	margin-right: 5px;
	width:20%;
}

.big small
{
	font-size: 10pt;
	clear:both;
	display:inline-block;

}

.status{
	float:right;
	width:50%;
}

  .sortorder:after {
    content: '\25b2';
  }
  .sortorder.reverse:after {
    content: '\25bc';
  }
</style>

<div ng-app="adminApp" ng-controller="admin" ng-cloak>

<div class="progress" style="position:fixed;top:0;width:100%;left:0;height:2px;margin:0;"  ng-show="loading_edits || loading_shoots || loading_users">
      <div class="indeterminate"></div>
  </div>

<div class="page-header">
    <h1><%- __('Administration') %></h1>
</div>

<div class="alert alert-info">
	<%- __('User and Shoots across all deployments are shown here. To administer a specific Shoot, visit the <a href="/">Dashboard</a>.	') %>	
</div>

<tabset>
	
    <tab select="showshoots()" heading="Shoots">
			<span class="text-muted"><%- __('Order By:') %></span>
			<a href="" ng-click="ordere('name')"><%- __('Name') %></a><span class="sortorder" ng-show="predicatee === 'name'" ng-class="{reverse:reversee}"></span> |
			<a href="" ng-click="ordere('createdAt')"><%- __('Joined') %></a><span class="sortorder" ng-show="predicatee === 'createdAt'" ng-class="{reverse:reversee}"></span> |
			<a href="" ng-click="ordere('lasttouched')"><%- __('Last Touched') %></a><span class="sortorder" ng-show="predicatee === 'lasttouched'" ng-class="{reverse:reversee}"></span> |
			<a href="" ng-click="ordere('totalmedia')"><%- __('Total Media') %></a><span class="sortorder" ng-show="predicatee === 'totalmedia'" ng-class="{reverse:reversee}"></span> |
			<a href="" ng-click="ordere('participants')"><%- __('Participants') %></a><span class="sortorder" ng-show="predicatee === 'participants'" ng-class="{reverse:reversee}"></span> |
			<a href="" ng-click="ordere('totalfilesize')"><%- __('Filesize') %></a><span class="sortorder" ng-show="predicatee === 'totalfilesize'" ng-class="{reverse:reversee}"></span>

			<div class="list-group">
				<a class="list-group-item" href="#"><input type="text" placeholder="<%- __('search...') %>" ng-model="search.$" class="form-control input-lg" /></a>
				<div ng-repeat="(server,events) in events">
				  	<div dir-paginate="event in events | filter:search | orderBy:predicatee:reversee | itemsPerPage:20" pagination-id="shoots" class="list-group-item">
							<div class="row">
									<div class="col-xs-12 col-sm-10">
											<h4 class="list-group-item-heading">
													<a href="/event/view/{{event.id}}">{{event.name}}</a>
											</h4>
											<span ng-if="event.joincode"><i class="fa fa-key" ></i> {{event.joincode}}</span>
											<i class="fa fa-clock-o" tooltip="shoot last touched" ng-show="event.lasttouched"></i> {{event.lasttouched | date:short}}
											<i class="fa fa-video-camera" tooltip="total videos"></i>  {{event.totalmedia}}
											<i class="fa fa-user" tooltip="total contributors"></i> {{event.participants}}
											<i class="fa fa-film" tooltip="total filesize"></i> {{event.totalfilesize | number:2}}MB
											<br>
											<i class="fa fa-users" tooltip="owners"></i> <a href="#" ng-click="search.$=user.profile.displayName" ng-repeat="user in event.users track by $index">{{user.profile.displayName}}, </a><br>
									</div>
					    		<div class="col-xs-12 col-sm-2">
										<a ng-href="/event/kill/{{event.id}}?apikey=<%-apikey%>" onclick="return confirm('<%- __('Really Kill Event?') %>')" class="btn btn-link btn-sm btn-danger pull-right"><%- __('Kill Event') %></a>
								</div>
								</div>
					</div>
                </div>
                <dir-pagination-controls pagination-id="shoots"></dir-pagination-controls>
			</div>

		</tab>
		<tab select="showusers()" heading="Users">
			<span class="text-muted"><%- __('Order By:') %></span>
			<a href="" ng-click="order('profile.name.familyName')"><%- __('Name') %></a><span class="sortorder" ng-show="predicate === 'profile.name.familyName'" ng-class="{reverse:reverse}"></span> |
			<a href="" ng-click="order('createdAt')"><%- __('Joined') %></a><span class="sortorder" ng-show="predicate === 'createdAt'" ng-class="{reverse:reverse}"></span> |
			<a href="" ng-click="order('owned')"><%- __('Owned') %></a><span class="sortorder" ng-show="predicate === 'owned'" ng-class="{reverse:reverse}"></span> |
			<a href="" ng-click="order('participatedin')"><%- __('Participated In') %></a><span class="sortorder" ng-show="predicate === 'participatedin'" ng-class="{reverse:reverse}"></span> |
			<a href="" ng-click="order('created')"><%- __('Produced') %></a><span class="sortorder" ng-show="predicate === 'created'" ng-class="{reverse:reverse}"></span> |
			<a href="" ng-click="order('edits')"><%- __('Edits') %></a><span class="sortorder" ng-show="predicate === 'edits'" ng-class="{reverse:reverse}"></span>

			<div class="list-group">
				<a class="list-group-item" href="#"><input type="text" placeholder="<%- __('search...') %>" ng-model="search_users" class="form-control input-lg" /></a>
				<div dir-paginate="user in users | filter:search_users | orderBy:predicate:reverse | itemsPerPage:20" pagination-id="users"  class="list-group-item">
					<div class="row">
					<div class="col-xs-12 col-sm-8">
						<h4 class="list-group-item-heading">
							<img style="width:26px;height:auto;border-radius: 50%;" ng-src="{{user.profile.photos[0].value}}" /> <strong>{{user.profile.displayName}}</strong> <em>{{user.profile.emails[0].value}}</em>
						</h4>
						<i class="fa fa-clock-o" tooltip="<%- __('user joined') %>"></i> {{user.createdAt | date:'short'}} 
						<i class="fa fa-users" tooltip="<%- __('shoots owned') %>"></i> {{user.owned}} 
						<i class="fa fa-user" tooltip="<%- __('shoots participated in') %>"></i> {{user.participatedin}}
						<i class="fa fa-video-camera" tooltip="<%- __('videos captured') %>"></i> {{user.created}}
						<i class="fa fa-film" tooltip="<%- __('stories made') %>"></i> {{user.edits}}
						<span ng-show="user.apiaccess"> api {{user.apiaccess}},</span>
					</div>
					<div class="col-xs-12 col-sm-4">
					<a ng-show="!user.deleted" href="/event/removeuser/{{user.id}}?apikey=<%-apikey%>" onclick="return confirm('<%- __('Really Remove User?') %>')"  class="btn btn-link btn-danger btn-sm pull-right"><%- __('Remove') %></a>
					&nbsp
					<a ng-show="!user.nolimit" href="/event/removelimit/{{user.id}}?apikey=<%-apikey%>" class="btn btn-primary btn-sm  btn-link pull-right"><%- __('Remove Limit') %></a>
					&nbsp
					<a ng-show="user.nolimit" href="/event/restorelimit/{{user.id}}?apikey=<%-apikey%>" class="btn btn-primary btn-sm  btn-link pull-right"><%- __('Restore Limit') %></a>
				</div>
			</div>
				</div>
                <dir-pagination-controls pagination-id="users"></dir-pagination-controls>
			</div>

		</tab>
		<div class="clearfix"></div>
</tabset>
</div>
<div class="clearfix"></div>
