<style>

</style>

<div ng-controller="dashboard" ng-cloak>
  <div class="progress" style="position:fixed;top:0;width:100%;left:0;height:2px;margin:0;" ng-show="loading">
    <div class="indeterminate"></div>
  </div>

  <div ng-hide="events.length==0 && !loading" class="page-header">
    <h1><%- __('My Shoots') %></h1>
  </div>

  <div ng-show="events.length==0 && !loading" class="text-center">
    <h1><%- __('Welcome to') %> <img style="max-width: 90%;" src="/images/logo_web.svg" />
    </h1>

    <% if (!sails.config.LOCALONLY) { %>
      <div class=" text-center col-md-8 col-md-offset-2 lead" style="margin-top:2em;">
          <div style="line-height: 60px">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <a href="https://guide.ourstory.video"><%- __('Read the Guide') %></a> <%- __('to get started') %>
      </div>
       
      <div class="clearfix"></div>
      </div>

      <% } %>


      <% if (sails.config.SHOOT_LIMIT > 0 || user.nolimit) { %>
        <a href="/commission/new" class="btn btn-lg btn-success">
          <i class="fa fa-plus"></i> <%- __('Start a Shoot Now') %></a>
          <% } else {%>
            <div class="row">
              <div class="col-md-8 col-xs-12 col-md-offset-2">
                <div class="alert alert-info">
                  Our Story is currently invite-only as we complete testing and documentation.<br>Please contact <a href="mailto:info@ourstory.video">info@ourstory.video</a> for more information.
                </div>
              </div>
            </div>
            <% } %>
  </div>

  <div ng-if="events.length > 0" class="row">
    <div class="my-animation col-xs-12 col-sm-6 col-md-4">
      <div style="min-height:270px;background:#fbfbfb" class="text-center">
        <a href="/commission/new" class="btn" style="width:100%;height:270px;padding-top:120px;">
          <i class="fa fa-plus"></i> <%- __('Start a Shoot Now') %></a>
      </div>
    </div>
    <div ng-repeat="event in events" class="my-animation col-xs-12 col-sm-6 col-md-4">
      <div>
        <div class="panel panel-default text-center" style="min-height:270px;">
          <div style=" margin-bottom:30px;">

            <div style="position:relative;background:url(/images/event_back.png);background-size:cover;width:100%;height:140px;">
              <div style="height:140px;overflow:hidden;position:absolute;width:100%;">
                <div ng-show="event.iconbackground!=''" style="background:url('{{event.iconbackground}}');background-size:cover;position:absolute;width:100%;height:100%;top:0;left:0;">
                </div>
              </div>
              
                <span ng-if="event.joincode && !event.public" style="position:absolute;left:0;display:block;width:100%;line-height:140px;">
                  <span style="border-radius: 30px;background:#00000066;padding:1em;padding-bottom: 0.5em;">

                    <i class="fa fa-key fa-2x" style="color:white;"></i>
                    <span style="color:white;font-size:2em;">{{event.joincode}}</span>
                  </span>
                </span>

                <div class="btn-group" style="position:absolute;right:4px;top:0;">
                    <button type="button" class="btn btn-lg btn-link dropdown-toggle" style="color:white;" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a ng-href="/api/event/clone/{{event.id}}?apikey=<%- apikey %>"><%- __('Duplicate') %></a></li>
                    </ul>
                </div>  

            </div>
          </div>
          <div>
            <h2 style="min-height:2.2em" class="truncate">{{event.name}}</h2>

          </div>
          <div class="text-center" style="position:absolute;bottom:3em;width:92%;">
            <a href="/event/view/{{event.id}}"><%- __('Settings') %></a> &middot;
            <a href="/commission/{{event.id}}"><%- __('Template') %></a> &middot;
            <a href="/shoot/{{event.id}}"><%- __('Videos') %></a> &middot;
            <a href="/watch/edits/{{event.id}}"><%- __('Stories') %></a> &middot;
            <a href="/post/{{event.id}}"><%- __('Export') %></a>
          </div>
        </div>
      </div>



    </div>

  </div>
</div>